@font-face {
    font-family: Minercraftory;
    src: url('Minercraftory.ttf');
}
body {
    margin: 0;
}
ul {
    background-color: rgb(125, 129, 125);
    height: 80px;
}
#logo {
    padding-top: 10px;
    width: 250px;
    margin-right: 202px;
}
#l1 {
    padding-top: 10px;
    background-color: orange;
    border: solid;
    border-color: black;
    font-size: 25px;

}
#l2,
#l3,
#l4 {
    border: solid;
    border-color: black;
    background-color: orange;
    font-size: 20px;

}

li {
    padding-top: 10px;
    display: inline;
    margin: 0;
}
a {
    color: black;
}
.slider {
    /*color: red;*/
    height: 500px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/WDM-3D_class_Locomotive_of_Indian_Railway.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
ul,
div.slider {
    margin: 0;
}
#maintext {
    margin-top: 0;
    color: orange;
    font-family: Minercraftory;
    font-size: 40px;
    text-align: center;
    padding-top: 60px;

}
.headline {
    text-align: center;
    font-size: 35px;
}
.services {
    display: inline;
    background-color: chocolate;
}
.b1 {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
    margin: auto;
}
.rform{
	margin-left: 20px;
	padding: 30px;}
	
.skip{
	border: solid;
	width : 700px}
	
#cap{
	color:black;
	font-size: 25px;
	font-family : Minercraftory;}
