form {
    width: 400px;
    margin-left: 900px;
    /* margin: 100px auto 0;*/
    background-color: rgba(100, 100, 100, 0.5);
    height: 400px;
}
label {
    color: white;
    font-family: Arial;
}
